@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Comfortaa', cursive; */
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}
p {
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Comfortaa', cursive; */
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}
b {
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Comfortaa', cursive; */
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}
h1{
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
}
h2{
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
}
h3{
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
}
h4{
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
}
h5{
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
}
h6{
    font-family: 'Rubik', sans-serif;
color: rgb(0, 0, 0);}

.card{
    background-color: rgba(160, 153, 153, 0.1);
    box-shadow: 0 5px 15px rgba(124, 124, 124, 0.5);
    margin-right: 3rem;
}

.card:hover .gradient{
    opacity: 1;
}

.gradient{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

.text{
    color: rgb(0, 0, 0);
}